* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: unset;
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding-left: 0;
    
}
img {
    width: 100%;
    object-fit: cover;
}
.sidebar  {
    padding-left: 0;
    padding-right: 0;
}
.main {
    background: #fff;
}

.title {
    background: #333;
    color: #fff;
   padding: 5px;
}
.title.prd {
   padding: 10px; 
   border-top-right-radius: 15px;
   width: 230px; 
   background: #0d6efd;
}
.sidebar ul {
    font-weight: bold;
}
.sidebar ul li {
    margin-bottom: 1rem;
}
.banner {
    width: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.process .icon {
    background: url("https://www.anphatpc.com.vn/template/anphat_2020v2/images/sprite-2020.png?v=1") no-repeat;
}
.process .icon-payment {
    width: 360px;
    height: 36px;
    background-position: -5px -145px;
}

.connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5567c7;
    color: #fff;
    padding: 0 50px;
}
.connect .title-name {
    text-transform: uppercase;
}
.connect  .connect-us ul {
    display: flex;
}
.connect  .connect-us ul li {
    padding: 15px;
    font-size: 20px;
}
.connect .email-inp input[type="text"] {
    padding: 9px 8px;
    outline: none;
    border-radius: 5px;
    border: none;
}
.tintuc .tit {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 15px;
    padding: 5px 0;
}
.tintuc  .content {
    display: flex;
    align-items: center;
}
.tintuc .image-content {
    width: 30%;
    margin-right: 15px;
}
.tintuc  .content .main-content {
    font-size: 15px;
}
.tintuc  .name-content {
    font-weight: bold;
}